/* You can add global styles to this file, and also import other style files */

        
section {
     background: url(http://i.imgur.com/Nczsmy9.jpg) fixed no-repeat;
            background-size: 100% 100%;
            padding-top: 70px;
        }
