.container{
    height: 200px;
    
}
h3{
    color: orangered;
}
section{
     background: url(http://farm9.staticflickr.com/8624/15750895067_f212661bbd_o.jpg) fixed no-repeat;
}
img{
    width: 100%;
}